:root {
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --primary-color: #007bff;
    --success-color: #28a745
}

html,
body {
    overscroll-behavior-y: contain;
}

kbd {
    margin: 0px 0.1em;
    padding: 0.1em 0.6em;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    color: rgb(51, 51, 51);
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    display: inline-block;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px #ffffff;
    background-color: rgb(247, 247, 247);
    -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-shadow: 0 1px 0 #fff;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.ping-div {
    right: 10px;
    bottom: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 5px;
    width: 80px;
}

.ping-div .ping-text {
    margin-left: 2px;
    margin-bottom: 2px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.dot-sm {
    height: 15px;
    width: 15px;
}

.dot-danger {
    background-color: var(--danger-color);
}

.dot-primary {
    background-color: var(--primary-color);
}

.dot-success {
    background-color: var(--success-color);
}

.dot-warning {
    background-color: var(--warning-color);
}

.leaderboard {
    position: absolute;
    top: 2%;
    right: 2%;
    background: rgba(0, 0, 0, 0.2);
    min-height: 200px;
    width: 200px;
}

.leaderboard li {
    display: flex;
}

.leaderboard-mobile {
    min-height: 100px;
    width: 150px;
}

.leaderboard-mobile li {
    font-size: 14px;
}

.leaderboard-mobile .leaderboard-title {
    font-size: 20px;
}

.leaderboard .leaderboard-title {
    margin: 10px 0;
}

.leaderboard .nickname {
    display: inline-block;
    flex-grow: 8;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leaderboard .weight {
    display: inline-block;
    font-weight: bold;
}

.leaderboard ul {
    list-style-type: none;
    padding: 0 10px;
    text-align: left;
}

.leaderboard .leaderboard-title, li {
    color: white;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.my-5 {
    margin: 10px 0;
}

.btn {
    border: 0;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    line-height: 1;
}

.btn-lg {
    padding: 0.6rem 1rem;
    font-size: 1.0rem;
}

.btn-success {
    background: var(--success-color);
    color: white;
}

.btn-primary {
    background: var(--primary-color);
    color: white;
}

.align-center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

input {
    padding: 10px 0 10px 10px;
    border: solid #acacac 1px;
    border-radius: 5px;
}

input::placeholder {
    color: rgba(180, 180, 180, 0.8);
    font-size: 16px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em;
}

@-webkit-keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


@-webkit-keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        opacity: 1;
    }
}

@keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        opacity: 1;
    }
}

.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow .75s linear infinite;
    animation: spinner-grow .75s linear infinite;
}

.spinner-grow-sm {
    width: 1rem;
    height: 1rem;
}
